/* ? font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    font-size: 15px;
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-light-gray);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    position: relative;
}

/* ----- Start header design ----- */
header {
    color: var(--grayish-blue);
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-weight: 200;
}

header .bold {
    font-weight: 600;
    color: var(--very-dark-blue);
}

header p {
    margin-top: 15px;
    width: 500px;
    font-size: 1rem;
}

/* ----- End header design ----- */

/* ----- Start Cards Design ----- */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-container .two-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-container .card {
    width: 380px;
    height: 250px;
    border-radius: 5px;
    padding: 20px 30px;
    position: relative;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
}

.card-container .card h2 {
    color: var(--very-dark-blue);
    font-weight: 600;
    margin-bottom: 10px;
}

.card-container .card p {
    color: var(--grayish-blue);
    font-size: 1rem;
}

.card-container .card img {
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.card-container .cyan-color {
    border-top: 4px solid cyan;
}

.card-container .red-color {
    border-top: 4px solid red;
}

.card-container .orange-color {
    border-top: 4px solid orange;
}

.card-container .blue-color {
    border-top: 4px solid blue;
}

/* ----- End Cards Design ----- */

/* ----- Start Media Queries ----- */
@media (max-width: 1025px) and (min-width: 770px) {
    header {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    header h1 {
        font-size: 1.9rem;
    }

    .card-container {
        gap: 25px;
    }

    .card-container .card {
        width: 360px;
        height: 230px;
    }

    .card-container .card h2 {
        font-size: 1.4rem;
    }

    .card-container .card p {
        font-size: 0.9rem;
    }
}

@media (max-width: 769px) {
    .card-container {
        flex-direction: column;
        margin-bottom: 30px;
    }

    footer {
        display: none;
    }
}

@media (max-width: 426px) {
    header h1 {
        font-size: 1.8rem;
    }

    header p {
        width: 300px;
    }

    .card-container .card {
        width: 340px;
        height: 230px;
    }

    .card-container .card h2 {
        font-size: 1.4rem;
    }

    .card-container .card p {
        font-size: 0.9rem;
    }
}
/* ----- End Media Queries ----- */

/* ----- Start Attribution design ----- */
footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ----- End Attribution design ----- */
