@import 'colors';

:root {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-height: 100vh;
    background-color: $white;
    font-family: $barlow;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $white;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-family: $fraunces;
}
