// Primary Colors
$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

$card-color: hsl(218, 20%, 24%);
$body-bg: hsl(220, 22%, 16%);

// Neutral Colors
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);

// Font Family
$manrope: 'Manrope', sans-serif;
