@import 'variables';

:root {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    color: $very-dark-cyan;
    font-family: $open-sans;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    @media only screen and (max-width: 1250px) {
        padding: 0 1em;
    }
}

.btn {
    background-color: white;
    padding: 0.8em 3em;
    border-radius: 999px;
    font-weight: bold;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.2);
    text-decoration: none;
    color: $very-dark-cyan;
    transition: all 0.1s ease-in-out;
}

.btn-primary {
    background-color: $pink;
    color: white;
    font-size: 0.9rem;

    &:hover {
        background-color: rgba($pink, $alpha: 0.7);
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $poppins;
}

img {
    width: 100%;
}

header {
    background: url('../images/bg-hero-desktop.svg');
    background-color: $very-pale-cyan;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0 1em;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;

        img {
            width: 200px;
        }

        a {
            font-size: 0.8rem;

            &:hover {
                color: $grayish-blue;
            }
        }
    }

    .hero {
        height: 85vh;
        display: flex;
        align-items: center;

        & > * {
            flex: 1 1 50%;
        }

        .hero-text {
            display: flex;
            flex-direction: column;
            row-gap: 2em;

            h1 {
                width: 80%;
                font-size: 2rem;
                line-height: 1.4em;
                font-weight: bold;
            }

            p {
                width: 80%;
                font-size: 0.9rem;
            }

            .btn {
                width: fit-content;
            }
        }
    }

    @media only screen and (max-width: 765px) {
        nav {
            img {
                width: 150px;
            }
        }

        .hero {
            flex-direction: column;
            align-items: center;
            row-gap: 2em;

            .hero-text {
                text-align: center;
                align-items: center;
                row-gap: 1.5em;
            }
        }
    }

    @media only screen and (max-width: 450px) {
        background: url('../images/bg-hero-mobile.svg');
        background-color: $very-pale-cyan;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        nav {
            img {
                width: 100px;
            }

            .btn {
                font-size: .7rem;
                padding: 0.6em 2.5em;
            }
        }

        .hero {
            .hero-text {
                .btn-primary {
                    font-size: .7rem;
                    padding: 0.8em 3.5em;
                }
            }
        }
    }
}

main {
    padding: 8em 0 2em 0;
    
    section {
        height: 18em;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2em;
        border-radius: .5em;
        margin-bottom: 2em;
        box-shadow: 0 0 10px 1px rgba(#000000, 0.15);

        img {
            width: 18em;
        }

        .section-text {
            width: 35%;
            
            h1 {
                font-size: 1.3rem;
                margin-bottom: .6em;
            }

            p {
                color: $grayish-blue;
                font-size: .8em;
                line-height: 1.2rem;
            }
        }

        &.reverse {
            img {
                order: 2;
            }
        }
    }

    @media only screen and (max-width: 765px) {
        section {
            flex-direction: column;
            height: auto;
            
            img {
                margin-bottom: 3em;
            }

            .section-text {
                width: 80%;
                text-align: center;
            }

            &.reverse {
                img {
                    order: initial;
                }
            }
        }
    }

    @media only screen and (max-width: 450px) {
        section {
            img {
                width: 100%;
            }

            .section-text {
                width: 100%;
            }
        }
    }
}

.community {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em 6em;
    border-radius: .5em;
    box-shadow: 0 0 10px 1px rgba(#000000, 0.15);
    position: relative;
    transform: translateY(35%);
    background-color: #ffff;
    z-index: 50;

    h1 {
        margin-top: .8em;
        margin-bottom: 1em;
        font-size: 1.3rem;
        font-weight: bold;
        text-transform: capitalize;
    }

    @media only screen and (max-width: 650px) {
        // margin: 0 1em;
        padding: 2em 4em;
    }

    @media only screen and (max-width: 580px) {
        padding: 2em;
        margin: 0 auto;
        h1 {
            font-size: 1rem;
        }
    }

    @media only screen and (max-width: 450px) {
        margin: 0 1em;
        padding: 2em 1.7em;
        h1 {
            font-size: .9rem;
        }

        .btn-primary {
            font-size: .7rem;
        }
    }
}

footer {
    
    position: relative;
    background-color: $very-dark-cyan;
    color: $very-pale-cyan;
    padding: 8em 0 4em 0;

    p {
        font-size: .8rem;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 2em;

        & > * {
            width: 33.33%;
        }

        .logo {
            width: 200px;
            margin-bottom: 2em;
        }

        .contact {
             img {
                 width: 12px;
                 height: 12px;
                 margin-top: .35em;
             }


             .location, .phone, .email {
                 display: flex;
                 gap: 1em;
                 margin-bottom: 1em;
             }

             .location {
                img {
                    height: 14px;
                }

                 p {
                     width: 20em;
                     line-height: 1.6rem;
                 }
             }
        }

        .menu {
            display: flex;
            // flex-wrap: wrap;
            column-gap: 6em;
            row-gap: 1.5em;
            padding: 0 4em;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                row-gap: 1em;
                font-size: .8rem;
                
                li {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .social {
            padding: 0 6em;
            display: flex;
            align-items: flex-start;
            column-gap: 1em;
            
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                font-size: .8rem;
                border: 1px solid $very-pale-cyan;
                padding: 5px;
                border-radius: 50%;
                cursor: pointer;
                transition: .2s ease-in-out;

                &:hover {
                    color: $pink;
                    border: 1px solid $pink;
                }
            }
        }
    }
    
    .attribution {
        position: absolute;
        bottom: 1em;
        right: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        p {
            font-size: .6rem;

            a {
                color: hsl(228, 45%, 44%);
            }
        }

    }

    @media only screen and (max-width: 1000px) {
        .container {
            & > * {
                width: auto;
            }

            

            .social {
                justify-content: center;
            }
        }
    }

    @media only screen and (max-width: 760px) {
        .container {
            flex-direction: column;

            .menu {
                padding: 0;
            }

            .social {
                padding: 0;
            }
        }
    }

    @media only screen and (max-width: 400px) {
        .container {
            .menu {
                flex-direction: column;
            }
        }
    }

}
